@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@550&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Manrope:wght@200..800&display=swap');



:root{
  --cor-texto: #ffffff;
  --background: #293038
  --background-header: #020c1571;
  --texto-header: #F6F6F8;
  --transicao-header: #fcf9d8;
}


.cinzel {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
}

.afacad-flux {
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.cinzel {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
  }

body  {
    line-height: 1.6;
    background-color: #293038;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}

h1 {
    background-color: none;
    color: #ffffff;
    margin-left: 20px;
    margin-top: 20px;
  }

  a {
    text-decoration: none;
    border: none;
}

.site-header {
  position: fixed;
  top: 0;
  display:flex;
  justify-content:space-between;
  height: 180px;
  width: 100%;
  background-color: #020c1571;
  color: rgb(248, 246, 246);
  padding: 1rem 0;
  text-align: center;
  font-size: 2rem;
  z-index: 5;
  backdrop-filter: blur(20px);
}

#logo-img {
  align-items:center;
  height: 150px;
  width: 150px;
  margin-left: 250px;
  border-radius: 120px;
}
.site-title {
  margin-top: 50px;
  margin-right: 250px;
  justify-content: center;
  font-size: 2rem;
}

.main-nav .nav-list{
  list-style: none;
  display: flex;
  justify-content: center;
}

.main-nav{
  margin-top: 50px;
  margin-right: 250px;
}

.main-nav .nav-link{
  color: rgb(248, 246, 246);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
  margin: 20px;
  margin-left: 40px;
  margin-right: 5px;
}

.main-nav .nav-link:hover{
  color: #fcf9d8;
}

#equipe-contato{
  margin-top: 15rem;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  text-align: center;

}

#redes-equipe{
  margin-top: 2rem;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  text-align: center;
}


.equipe{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 8rem;
}

.img-ana,
.img-evelyn,
.img-laura{
  height: 15rem;
  width: 15rem;
  border-radius: 50%;

}

.equipe a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6rem;


}

.line-contatos{
  border-color: #020c15;
  width: 70rem;
  height: 1px;
  margin-top: 5rem;
  margin-bottom: 5rem;
  background-color: #020c15;
  opacity: 0.5;
  margin-left: 30rem;

}

.contato h4 {
  font-family: "Afacad Flux", sans-serif;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  color: rgba(255, 255, 255, 0.753);
  font-weight: bold;

}
.contato p {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.918);
  margin-bottom: 1rem;
  text-align: center;
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Afacad Flux", sans-serif;;

}

blockquote {
  font-family: "Afacad Flux", sans-serif;
  font-weight: 20rem;
  color: rgb(221, 221, 221);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  margin-top: 2rem;

}

form {
  max-width: 40rem;
  margin: 0 auto;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 0.6rem;
  box-shadow: 0 0 0.9rem rgba(167, 165, 165, 0.849);
  margin-top: 5rem;
  margin-bottom: 10rem;
}
form fieldset {
  border: 1px solid rgb(44, 44, 44);
  padding: 10px;
  margin-top: 10px;
}

form label {
  display: block;
  margin-bottom: 5px;
  color: rgba(51, 50, 50, 0.822);
}
form legend {
  padding: 0 10px;
  font-weight: bold;
  color: rgb(99, 99, 99);
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid rgb(107, 107, 107);
  border-radius: 5px;
}
form input[type="radio"] form input[type="checkbox"] form button {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
}
form button:hover {
  background-color: rgb(116, 116, 116);
  border-radius: 2px;
}

.footer {
  background-color: #020c15;
  color: #f1f0e6;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.footer-logo img {
  width: 150px;
  margin-bottom: 10px;
}

.footer-hours, .footer-contact {
  width: 20%;
  text-align: left;
}

.footer-hours h2, .footer-contact h2 {
  position: relative;
  z-index: 1;
  margin: 20px 0;
  margin-top: 155px;
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
  text-decoration: none;;
}

.footer-map iframe {
  width: 300px;
  height: 200px;
}

.footer-social a {
  margin: 0 10px;
}

.footer-social img {
  width: 50px;
  margin: 5px;
}

.footer a {
  color: #fcf9d8;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
