@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@550&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.cinzel {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
  }

body  {
    line-height: 1.6;
    background-color: #293038;
}

h1 {
    background-color: none;
    color: #ffffff;
    margin-left: 20px;
    margin-top: 20px;
  }

  a {
    text-decoration: none;
    border: none;
}

  p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: medium;
    font-style: normal;
    color: #ffffff;
    margin-left: 20px;
    margin-right: 35px;
  }


  #background img {
    width: 100%;
    height: 60rem;
    object-fit: cover;
}

#backgroundS {
    width: 100%;
    height: 100%;
    object-fit: cover;
    inset: 0;
}
#background::after {
    content: '';
    width: 100%;
    height: 60rem;
    position: absolute;
    inset: 0;
    background-image: linear-gradient(0deg, rgba(2, 12, 21, 0.895) 27%, rgba(146, 146, 146, 0.393) 76%);
}


.site-header {
    position: fixed;
    top: 0;
    display:flex;
    justify-content:space-between;
    height: 180px;
    width: 100%;
    background-color: #020c1571;
    color: rgb(248, 246, 246);
    padding: 1rem 0;
    text-align: center;
    font-size: 2rem;
    z-index: 5;
    backdrop-filter: blur(20px);
}

#logo-img {
    align-items:center;
    height: 9rem;
    width: 9rem;
    margin-left: 10rem;
    border-radius: 100%;
  }
.site-title {
    margin-top: 2%;
    margin-right: 2%;
    justify-content: center;
    font-size: 2rem;
}

.main-nav .nav-list{
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-list a {
    color: rgb(248, 246, 246);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}


.main-nav{
    margin-top: 50px;
    margin-right: 250px;
}

.main-nav .nav-link{
    color: rgb(248, 246, 246);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    margin: 5px;
}

.main-nav .nav-link:hover{
    color: #fcf9d8;
}

.main-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 5rem auto;
    padding: 0 2rem;
}

.article{
    margin-bottom: 20rem;
    position: absolute;
    top: 50%;
    left: 30%;
    align-items: center;

}

.article-header{
    margin-bottom: 15px;
    padding-bottom: 10px;
    
}

.article-title{
    color: rgb(255, 0, 0);
    font-size: 1.5rem;
    margin-bottom: 15px;
    align-items: center;
    text-align: center;
    position: sticky;
}

.section-text{
    margin-bottom: 15rem;
    color: rgb(255, 255, 255);
    line-height: 1.0;
    text-align: center;
    align-items: center;
}

.Menu{
    padding-top: 10rem;
    margin-top: -10rem;
}

.Menu h2{
    margin-left: 50rem;
    color: rgb(255, 255, 255);
    font-size: 5rem;
}

.container {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    margin-left: 3rem;
}

.container div {
    position: relative;
    text-align: center;
    color: white;
    border-radius: 2%;
    overflow: hidden;
    margin-left: 2%;
    width: 35rem;
    height: 30rem;
}

.container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transition: all 0.5s ease;
    
}

.container div:hover img {
    filter: brightness(50%);
}

.container h2 {
    position: relative;
    z-index: 1;
    margin: 3rem 0;
    margin-top: 40%;
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

.footer {
    background-color: #020c15;
    color: #f1f0e6;
    padding: 20px;
    text-align: center;
    
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-logo img {
    width: 150px;
    margin-bottom: 10px;
}

.footer-hours, .footer-contact {
    width: 20%;
    text-align: left;
}

.footer-hours h2, .footer-contact h2 {
    position: relative;
    z-index: 1;
    margin: 20px 0;
    margin-top: 155px;
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    text-decoration: none;;
}

.footer-map iframe {
    width: 300px;
    height: 200px;
}

.footer-social a {
    margin: 0 10px;
}

.footer-social img {
    width: 50px;
    margin: 5px;
}

.footer a {
    color: #fcf9d8;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}





